openapi: 3.0.3
info:
  title: ChipTube API
  version: 1.0.0
servers:
  - url: https://api.chiptube.io
paths:
  /tunes:
    get:
      tags:
        - Tunes
      operationId: getTunes
      parameters:
        - name: after
          in: query
          schema:
            type: string
            format: byte
        - name: query
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - tunes
                properties:
                  tunes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Tune"
                  after:
                    type: string
                    format: byte
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Tunes
      operationId: postTune
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - midiKey
              properties:
                title:
                  type: string
                description:
                  type: string
                midiKey:
                  type: string
                thumbnailKey:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    $ref: "#/components/schemas/TuneId"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tunes/{id}:
    get:
      tags:
        - Tunes
      operationId: getTuneById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tune"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Tunes
      operationId: putTuneById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                thumbnailKey:
                  type: string
                isLiked:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tune"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Tunes
      operationId: deleteTuneById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tunes/{id}/comments:
    get:
      tags:
        - Tunes
      operationId: getTuneComments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
        - name: after
          in: query
          schema:
            type: string
            format: byte
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - comments
                properties:
                  comments:
                    type: array
                    items:
                      $ref: "#/components/schemas/TuneComment"
                  after:
                    type: string
                    format: byte
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Tunes
      operationId: postTuneComment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TuneComment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /tunes/{id}/tunes:
    get:
      tags:
        - Tunes
      operationId: getTunesById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/TuneId"
        - name: after
          in: query
          schema:
            type: string
            format: byte
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - tunes
                properties:
                  tunes:
                    type: array
                    items:
                      $ref: "#/components/schemas/Tune"
                  after:
                    type: string
                    format: byte
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/me:
    put:
      tags:
        - Users
      operationId: putUserByMe
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /feedback:
    post:
      tags:
        - Others
      operationId: postFeedback
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  schemas:
    TuneId:
      type: string
      pattern: ^[\w-]{11}$
    Tune:
      type: object
      required:
        - id
        - userId
        - user
        - identityId
        - lastViewedIdentityId
        - title
        - description
        - midiKey
        - publishedAt
        - views
        - likes
        - favorites
        - comments
      properties:
        id:
          $ref: "#/components/schemas/TuneId"
        userId:
          type: string
        user:
          $ref: "#/components/schemas/User"
        identityId:
          type: string
        lastViewedIdentityId:
          type: string
        title:
          type: string
        description:
          type: string
        midiKey:
          type: string
        thumbnailKey:
          type: string
        publishedAt:
          type: integer
          format: int64
        views:
          type: integer
          format: int64
        likes:
          type: integer
          format: int64
        favorites:
          type: integer
          format: int64
        comments:
          type: integer
          format: int64
        isLiked:
          type: boolean
    TuneCommentId:
      type: string
      pattern: ^[\w-]{22}$
    TuneComment:
      type: object
      required:
        - id
        - userId
        - user
        - text
        - publishedAt
        - likes
      properties:
        id:
          $ref: "#/components/schemas/TuneCommentId"
        userId:
          type: string
        user:
          $ref: "#/components/schemas/User"
        text:
          type: string
        publishedAt:
          type: integer
          format: int64
        likes:
          type: integer
          format: int64
    User:
      type: object
      required:
        - id
        - nickname
        - picture
      properties:
        id:
          type: string
        nickname:
          type: string
        picture:
          type: string
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Error"
              - type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
